* {
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Arial';
     margin: 0;
     background-image: url("5.jpg");
     height: 1000px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-color: #9edee0;
 }
 
 #navigation-container {
     position: relative;
     background-color: #F5E0C1;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 ul {
     display: flex;
     flex-direction: row;
     list-style-type: none;
 }
 
 a {
     text-decoration: none;
     color: black;
     font-size: 16px;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     padding: 5px 15px;
     opacity: 0.7;
 }
 
 li {
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .row {
     display: flex;
     width: 60%;
     padding: 5px;
     column-gap: 29px;
 }
 
 .header img {
     width: 50px;
     height: 50px;
     background: #555;
 }
 
 .header h1 {}
 
 .button1 {
     background-color: skyblue;
 }

 
 .button2 {
     background-color: #4CAF50;
 }
 
 
 .column {
     flex: 20%;
     padding: 0px;
     height: 250px;
  
     border: 1px solid black;
     width: 24px;
     column-gap: 9px;
     background-color: white;
 }
 
 .row1 {
     display: flex;
     width: 50%;
     column-gap: 29px;
 }
 
 .colum {
     flex: 20%;
     padding: 0px;
     height: 150px;
    
     border: 1px solid black;
     width: 24px;
     column-gap: 9px;
     background-color: white;
 }
 
 
 .footer {
     background-color: #f2f2f2;
     padding: 0px;
 }
 
 .carousel-inner img {
     width: 100%;
    
     margin: auto;
     height: 30%;
 }
 
 img {
     vertical-align: middle;
 }

 .container {
     position: relative;
 }
 
 
 .mySlides {
     display: none;
 }
 
 
 .cursor {
     cursor: pointer;
 }
 
 
 .prev,
 .next {
     cursor: pointer;
     position: absolute;
     top: 30%;
     width: auto;
     padding: 16px;
     margin-top: -50px;
     color: white;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
 }
 
 
 .next {
     right: 0;
     border-radius: 3px 0 0 3px;
 }
 
 
 .prev:hover,
 .next:hover {
     background-color: rgba(0, 0, 0, 0.8);
 }
 
 
 .numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
 }
 
 .caption-container {
     text-align: center;
     background-color: #222;
     padding: 2px 16px;
     color: white;
 }
 
 .row:after {
     content: "";
     display: table;
     clear: both;
 }

 
 .column {
     float: left;
     width: 1.66%;
 }

 
 .demo {
     opacity: 0.6;
 }
 
 .active {
     background-color: green;
 }
 
 
 .demo:hover {
     opacity: 1;
 }
 
 .footer {
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: skyblue;
     color: Black;
     text-align: center;
 }

 
 
 }
 
 #more {
     display: none;
 }
 
 
 #ticketform {
     margin: auto;
     width: 70%;
 }
 
 #ticketform h1 {
     text-align: center;
 }
 
 .form {
     background-color: skyblue; 
 
     width: 300px;
     float: left;
     text-align: left;
     margin-left: 100px;
     padding: 20px;
 }
 
 #ticketform button {
     background-color: green;
     width: 150px;
     text-align: center;
     height: 40px;
 }
 
 .form input {
     width: 150px;
 }
 
 .form input[type='radio'] {
     width: 20px;
 }
 
 #output {
     margin: auto;
     text-align: center;
     width: 40%;
     font-size: 1.5em;
     color: brown;
     font-weight: bold;
 }